# Example MANIFEST.in
include README.md
recursive-include terrashire README.md
recursive-include terrashire .gitignore
recursive-include terrashire *.json
recursive-include terrashire *.tf
recursive-include terrashire *.tfvars
recursive-include terrashire *.yaml
recursive-include terrashire *.conf
recursive-include terrashire Dockerfile
recursive-include terrashire .env